<launch>
    <arg name="names_file" default="$(find milestone3)/scripts/perception/yolo_stuff/three_signs.names"/>
    <arg name="cfg_file" default="$(find milestone3)/scripts/perception/yolo_stuff/yolov3-3cls.cfg"/>
    <arg name="weights_file" default="$(find milestone3)/scripts/perception/yolo_stuff/best.pt"/>
    <arg name="world_name" default="gandalfs_room"/>
    <arg name="view_img" default="True"/>

    <node pkg="milestone3" type="undistort_img.py" name="undistort_img">
        <param name="mtx" value="$(find milestone3)/scripts/perception/mtx.npy"/>
        <param name="dist" value="$(find milestone3)/scripts/perception/dist.npy"/>
    </node>
    <node pkg="milestone3" type="deep_learning2.py" name="deep_learning">
        <param name="names" value="$(arg names_file)"/>
        <param name="cfg" value="$(arg cfg_file)"/>
        <param name="weights" value="$(arg weights_file)"/>
        <param name="view_img" value="True"/>
    </node>

    <!--node pkg="milestone3" type="navi" name="navi">
        <param name="labels" value="$(arg labels_file)"/>
    </node-->

    <!--node pkg="milestone3" type="sign_pose" name="sign_detected">
        <param name="labels" value="$(arg labels_file)"/>
        <param name="world_name" value="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json"/>
    </node-->

    <node pkg="milestone3" type="sign_tf" name="sign_tf">
        <param name="labels" value="$(arg names_file)"/>
        <param name="world_name" value="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json"/>
    </node>


</launch>
